.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.3;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: white;
}

.sidebar__twitterIcon {
  color: var(--twitter-color);
  font-size: 30px !important;
  margin-left: 20px;
  margin-bottom: 20px;
}

.active {
  left: 0 !important;
}

@media only screen and (max-width: 960px) {
  .sidebar {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 660px) {
  .sidebar {
    height: 100vh;
    width: 300px;
    position: fixed;
    top: 60px;
    left: -300px;
    z-index: 2;
    transition: all 1s ease;
  }
}
